<!DOCTYPE html>
<html lang="ar">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>نسيت كلمت المرور</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/app/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/app/login.css') }}">
</head>

<body dir="rtl">
      <div class="overlay"></div>
      <header>
            <nav>
                  <h3>منصتي</h3>
                  <img style="width: 40px; height: 40px" src="{{ url_for('static',filename='img/logo.png') }}" />
            </nav>
      </header>
      <section class="login-section">
            <div class="login-container">
                  <h2>اعادت تعين كلمت المرور</h2>
                  <div class="content">
                        <form action="/reset_password/{{ id }}" method="POST" class="form-login">
                              <input type="password" name="password" id="password1"
                                    placeholder="اكتب الباسورد هنا: xxxxxx" />
                              <input type="password"  id="password2"
                                    placeholder="اكتب الباسورد تاني هنا: xxxxxx" />
                                <input type="submit" value="تسجيل الدخول" />
                        </form>
                  </div>
            </div>
      </section>
</body>

</html>