<!DOCTYPE html>
<html lang="ar">

<head>
    <!-- Hotjar Tracking Code for thanawionline -->
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 3911671,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عمل حساب جديد</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app/signup.css')}}">
</head>

<body dir="rtl">

    <header>
        <nav>
            <h3>ثانوية اونلاين</h3>
            <img style="width: 40px; height: 40px" src="{{ url_for('static',filename='img/logo.png') }}" />
        </nav>
    </header>
    <form action="/signup" method="post">
        <section class="login-section">

            <div class="login-container">
                <h2>عمل حساب جديد</h2>
                <div class="content" id="screen1">
                    {% if session.is_mobile and session.is_webview %} {% else %}
                    <a href="/logingoogle" class="google-login">
                        <h3>تسجيل الدخول باستخدام جوجل</h3>
                        <div class="icon">
                            <img src="{{ url_for('static',filename='img/google-icon.svg') }}" alt="">
                        </div>
                    </a>
                    {% endif %}
                    <div class="line">
                        <span>او ادخل لحسابك باستخدام</span>
                    </div>
                    <div class="form-login">
                        <input type="text" name="username" id="username" placeholder="اكتب اسمك هنا (مثال) : محمد هاني احمد" />
                        <input type="email" name="email" id="email" placeholder="اكتب ايميلك هنا: xxxx@gmail.com" />
                        <input type="password" name="password" id="password1" placeholder="اكتب الباسورد هنا: xxxxxx" />
                        <input type="password" name="password" id="password2" placeholder="اكتب الباسورد تاني هنا: xxxxxx" />
                        <button onclick="sendTwoSecScreen(2)" type="button" class="next">التالي</button>
                    </div>
                    <a href="/login">عندك حساب بالمنصة؟ <span>دوس هنا</span></a>
                </div>
                <div class="content" id="screen2">
                    <div class="line">
                        <span>اختار سنتك الدراسية</span>
                    </div>
                    <div class="form-login">
                        <input type="text" name="section" value="1sec" id="section" style="display: none;">
                        <div class="elsana">
                            <button class="elsana-button elsana-button-selected" type="button" onclick="selectElsana(this, 1)">1ث</button>
                            <button class="elsana-button" type="button" onclick="selectElsana(this, 2)">2ث</button>
                            <button class="elsana-button" type="button" onclick="selectElsana(this, 3)">3ث</button> {% if session.is_mobile and session.is_webview %}
                            <button class="elsana-button" type="button" onclick="selectElsana(this, 4);selectTaqasous(this);setval('4')">هندسة</button> {% endif %}
                        </div>
                        <div class="taqasous" id="taqasous-2">
                            <button class="taqasous-button" type="button" value="2sei" onclick="selectTaqasous(this);setval('2sic');">علمي</button>
                            <button class="taqasous-button" type="button" value="2art" onclick="selectTaqasous(this);setval('2art')">أدبي</button>
                        </div>
                        <div class="taqasous" id="taqasous-3">
                            <button class="taqasous-button" type="button" value="3math" onclick="selectTaqasous(this);setval('3math')">علمي رياضة</button>
                            <button class="taqasous-button" type="button" value="3sin" onclick="selectTaqasous(this);setval('3sic')">علمي علوم</button>
                            <button class="taqasous-button" type="button" value="3art" onclick="selectTaqasous(this);setval('3art')">أدبي</button>
                        </div>
                        <button onclick="sendTwoSecScreen(3)" type="button" class="next">التالي</button>

                    </div>
                    <a href="/login">عندك حساب بالمنصة؟ <span>دوس هنا</span></a>
                </div>
                <div class="content" id="screen3">
                    <div class="form-login">
                        <select name="city" id="city">
                        <option value="1">القاهرة</option>
                        <option value="2">الجيزة</option>
                        <option value="3">الاسكندرية</option>
                        <option value="4">الدقهلية</option>
                        <option value="5">البحر الاحمر</option>
                        <option value="6">البحيرة</option>
                        <option value="7">الفيوم</option>
                        <option value="8">الغربية</option>
                        <option value="9">الاسماعيلية</option>
                        <option value="10">المنوفية</option>
                        <option value="11">المنيا</option>
                        <option value="12">القليوبية</option>
                        <option value="13">الوادي الجديد</option>
                        <option value="14">السويس</option>
                        <option value="15">اسوان</option>
                        <option value="16">اسيوط</option>
                        <option value="17">بني سويف</option>
                        <option value="18">بورسعيد</option>
                        <option value="19">دمياط</option>
                        <option value="20">الشرقية</option>
                        <option value="21">جنوب سيناء</option>
                        <option value="22">كفر الشيخ</option>
                        <option value="23">مطروح</option>
                        <option value="24">الاقصر</option>
                        <option value="25">قنا</option>
                        <option value="26">شمال سيناء</option>
                        <option value="27">سوهاج</option>
                    </select>
                        </select>
                        <select name="gender" id="city">
                <option value="boy">ذكر</option>
                <option value="girl">انثي</option>
                </select>
                        <input type="date" id="dateInput" name="dateInput" placeholder="تاريخ الميلاد">
                        <input type="text" name="phone" id="phone" placeholder="رقم الهاتف الطالب" />
                        <input type="text" name="phone-parent" id="phone-parent" placeholder="رقم الهاتف ولي الامر" />
                        <button class="next">التالي</button>
                    </div>
                    <a href="/login">عندك حساب بالمنصة؟ <span>دوس هنا</span></a>
                </div>
            </div>
        </section>
    </form>
    <script>
        function sendTwoSecScreen(screen) {
            if (screen == 2) {
                document.getElementById("screen1").style.display = "none";
                document.getElementById("screen2").style.display = "block";
                document.getElementById("screen3").style.display = "none";
            }
            if (screen == 3) {
                document.getElementById("screen1").style.display = "none";
                document.getElementById("screen2").style.display = "none";
                document.getElementById("screen3").style.display = "block";
            }
        }

        function setval(valin) {
            document.getElementById('section').value = valin;
        }

        function selectElsana(button, elsana) {
            // Remove 'selected' class from all buttons
            var buttons = document.querySelectorAll('.elsana-button');
            buttons.forEach(function(btn) {
                btn.classList.remove('elsana-button-selected');
            });

            // Add 'selected' class to the clicked button
            button.classList.add('elsana-button-selected');

            if (elsana == "2") {
                document.getElementById("taqasous-2").style.display = "flex";
                document.getElementById("taqasous-3").style.display = "none";
            } else if (elsana == "3") {
                document.getElementById("taqasous-2").style.display = "none";
                document.getElementById("taqasous-3").style.display = "flex";
            } else {
                document.getElementById("taqasous-2").style.display = "none";
                document.getElementById("taqasous-3").style.display = "none";
            }
        }

        function selectTaqasous(button, taqasous) {
            // Remove 'selected' class from all buttons
            var buttons = document.querySelectorAll('.taqasous-button');
            buttons.forEach(function(btn) {
                btn.classList.remove('taqasous-button-selected');
            });

            // Add 'selected' class to the clicked button
            button.classList.add('taqasous-button-selected');
        }
    </script>
</body>

</html>