{% extends 'app/dashboard/base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/app/allc.css') }}">
<div class="header-dashboard">
    <h1>كورساتي</h1>
    {% for category in uni %}
    <div class="month-courses">
        <div class="header-courses">
            <div class="main-lable">
                <div class="circle"></div>
                <h3>{{ category }}</h3>
            </div>

        </div>
        <div class="courses">
            {% for course in courses if course.category == category %}
            <div class="course">
                <div class="img-course">
                    <img src="{{ course.banner_url }}" alt="">
                </div>

                <div class="course-info">
                    <h3>{{ course.name }}</h3>
                    {% if course.description %}
                    <p>{{ course.description | truncate(100) }}</p>
                    {% else %}
                    <p>لا يوجد وصف للكورس </p>
                    {% endif %}
                </div>
                <div class="course-price">
                    <a href="course/{{course.id}}">أكمل التعلم الان</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}