{% extends 'app/dashboard/base.html' %} {% block content %}




<link rel="stylesheet" href="{{ url_for('static', filename='styles/app/setting.css') }}">

<div class="header-dashboard">
    <h1>الاعدادات</h1>
</div>
<section class="my-settings">
    <div class="account-photo" style="margin-top: -50px;">
        {% if user.profile_img%}
        <img src="{{user.profile_img}}" alt=""> {%else%}
        <img src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="">{% endif %}
    </div>

    <div class="info-user" style="margin-top: 20px; background-color: var(--neutral-10, #F6F8FC); padding: 10px; border-radius: 10px;width: 120%;">

        <p style="font-size: 1.2rem; color: #333;"><strong>الاسم :</strong><br>
            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%;">{{user.name}}</div>
        </p>

        <p style="font-size: 1.2rem; color: #333;"><strong>القسم :</strong><br>
            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%;"> {{ user.academic_section }}</div>
        </p>


        <p style="font-size: 1.2rem; color: #333;"><strong>الايميل :</strong><br>
            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%;">{{ user.email }}</div>
        </p>
        <p style="font-size: 1.2rem; color: #333;"><strong>السن :</strong><br>
            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%;"> {{ user.age }}سنة --{{ user.birthdate }}</div>
        </p>
        <p style="font-size: 1.2rem; color: #333;"><strong>رقم الطالب :</strong><br>

            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%; ">
                {{ user.phone_number }}
            </div>
        </p>
        <p style="font-size: 1.2rem; color: #333;"><strong>رقم ولي الامر: </strong><br>
            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%;">{{ user.father_number }}</div>
        </p>
        <p style="font-size: 1.2rem; color: #333;"><strong>تاريخ انشاء الحساب :</strong> <br>
            <div style="color: #333; background-color: var(--neutral-8); padding: 4px 8px; border-radius: 5px;width: 100%;"> {{ user.created_at }}</div>
        </p>
    </div>

    <a class='delete' href="/logout" style="background-color: rgb(255, 188, 88);">تسجيل الخروج</a>
    <a class="delete" href="/logout">حذف الحساب</a>
</section>


{% endblock %}