{% extends 'web/dashboard/base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/web/help.css') }}">

<div class="header-dashboard">
    <h1>المساعدة</h1>
</div>
<section class="help">

    <h1>ممكن تتواصل معانا من خلال</h1>
    <div class="help-items">
        <a href="">
            <img src="{{ url_for('static',filename='/img/icons/logos_whatsapp-icon.svg')}}" alt="">
            <span>0123456789</span>
        </a>
        <a href="">
            <img src="{{ url_for('static',filename='/img/icons/mingcute_phone-fill.svg')}}" alt="">
            <span>0123456789</span>
        </a>
    </div>
</section>
<section class="q-a">
    <div class="main-lable">
        <div class="circle"></div>
        <h3>الاسئلة الشائعة</h3>
    </div>
    <div class="q-a-items">
        <button class="q-a-item" onclick="toggleAnswer(this)">
              <div class="q">
                  <h4>ما هي منصتي؟</h4>
                  <img class="arrow" src="{{ url_for('static',filename='/img/icons/ep_arrow.svg')}}" alt="">
              </div>
              <div class="a">
                  <p>منصتي هي منصة تعليمية تهدف الي تسهيل عملية التعليم عن بعد وتوفير الوقت والجهد للطلاب والمعلمين</p>
              </div>
          </button>
        <button class="q-a-item" onclick="toggleAnswer(this)">
              <div class="q">
                  <h4>ما هي منصتي؟</h4>
                  <img class="arrow" src="{{ url_for('static',filename='/img/icons/ep_arrow.svg')}}" alt="">
              </div>
              <div class="a">
                  <p>منصتي هي منصة تعليمية تهدف الي تسهيل عملية التعليم عن بعد وتوفير الوقت والجهد للطلاب والمعلمين</p>
              </div>
          </button>
        <button class="q-a-item" onclick="toggleAnswer(this)">
              <div class="q">
                  <h4>ما هي منصتي؟</h4>
                  <img src="{{ url_for('static',filename='/img/icons/ep_arrow.svg')}}" alt="">
              </div>
              <div class="a">
                  <p>منصتي هي منصة تعليمية تهدف الي تسهيل عملية التعليم عن بعد وتوفير الوقت والجهد للطلاب والمعلمين</p>
              </div>
          </button>
    </div>
</section>

<script>
    var buttons = document.querySelectorAll('.q-a-item');

    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            var answerDiv = button.querySelector('.a');
            answerDiv.style.display = (answerDiv.style.display === 'none' || answerDiv.style.display === '') ? 'block' : 'none';
        });
    });
</script>

{% endblock %}