{% extends 'web/dashboard/base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/web/mainpage.css') }}">
<div class="dashboard-bg">
    <div class="dashboard-info">
        {% if user.profile_img %}
        <img src="{{ user.profile_img }}" alt=""> {% else %}
        <img src="https://static.vecteezy.com/system/resources/previews/011/490/381/original/happy-smiling-young-man-avatar-3d-portrait-of-a-man-cartoon-character-people-illustration-isolated-on-white-background-vector.jpg" alt=""> {% endif %}
        <div class="info">
            <h3>مرحبا {{ user.name }}</h3>
            <p>{{ user.email }}</p>
        </div>
    </div>
</div>
<div class="header-dashboard">
    <h1>الرئيسية</h1>
</div>
<section class="complete-your-courses">
    <div class="main-lable">
        <div class="circle"></div>
        <h3>كورساتي الاخيرة</h3>
    </div>
    <div class="courses" id="coursesContainer">
        {% for c in course_data %}
        <div class="course" id="course{{ c.id }}">
            <div class="img-course">

                <img src="{{ c.banner_url }}" alt="{{ c.name }}">
            </div>
            <div class="info"></div>
            <div class="course-info" id="courseInfo{{ c.id }}">
                <h3>{{ c.name }}</h3>
              {% if c.discussion %}
                <p>{{ c.description | truncate(100) }}</p>
                {% else %}
                <p>لا يوجد وصف للكورس</p>
                {% endif %}            </div>
            <div class="course-price">
                <a href="/course/{{ c.id }}">أكمل التعلم الان</a>
                <span>{{ c.price }} جنيه</span>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
</div>
{% endblock %}
