{% extends 'web/dashboard/base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/web/pv.css') }}">
<div class="header-dashboard">
    <h1>سياسة الخصوصية</h1>
</div>
<section class="privacy-policy">
    <h1>سياسة الخصوصية لـ منصتي</h1>

    <p>تاريخ آخر تحديث: 2024</p>

    <h2>1. المعلومات التي نقوم بجمعها:</h2>
    <p>نقوم بجمع معلوماتكم الشخصية عند تسجيلكم في منصتنا، وعندما تقومون بإكمال ملفاتكم الشخصية أو تقديم المحتوى. يمكن أن تتضمن هذه المعلومات:</p>
    <ul>
        <li>الاسم واللقب</li>
        <li>البريد الإلكتروني</li>
        <li>المعلومات الأكاديمية والمهنية</li>
        <li>المعلومات المالية للدفع عند الحاجة</li>
        <li>تفضيلات التصفح وتاريخ استخدام المنصة</li>
    </ul>

    <h2>2. كيفية استخدام المعلومات:</h2>
    <p>نحن نستخدم المعلومات التي نقوم بجمعها لتحسين تجربتكم على المنصة وضمان توفير الخدمات بشكل أفضل. تشمل الاستخدامات المحتملة:</p>
    <ul>
        <li>تخصيص المحتوى والتوصيات وفقًا لاحتياجاتكم التعليمية.</li>
        <li>تقديم إشعارات وتحديثات حول الدورات والموارد التعليمية.</li>
        <li>معالجة المعاملات المالية وتأمين عمليات الدفع عبر الإنترنت.</li>
        <li>تحليل البيانات لتحسين أداء المنصة وتقديم تقارير إحصائية.</li>
    </ul>

    <h2>3. مشاركة المعلومات:</h2>
    <p>نحن نلتزم بعدم مشاركة معلوماتكم الشخصية مع أطراف ثالثة دون موافقتكم، باستثناء الحالات التي تكون مطلوبة قانونيًا أو عند الحاجة لتقديم الخدمات بشكل صحيح.</p>

    <h2>4. الأمان:</h2>
    <p>نحن نتخذ تدابير أمان قوية لحماية معلوماتكم الشخصية من الوصول غير المصرح به والاستخدام غير المسموح به.</p>

    <h2>5. الارتباطات الخارجية:</h2>
    <p>قد يحتوي موقعنا على روابط إلى مواقع خارجية. نحن غير مسؤولين عن سياسات الخصوصية أو محتوى تلك المواقع.</p>

    <h2>6. حقوق الوصول والتحكم:</h2>
    <p>لديكم الحق في الوصول إلى معلوماتكم الشخصية وتصحيحها وحذفها، بالإضافة إلى تعديل تفضيلات الاتصال الخاصة بكم.</p>

    <p>إذا كان لديكم أي أسئلة أو استفسارات حول سياسة الخصوصية، يرجى الاتصال بفريق الدعم عبر [عنوان البريد الإلكتروني] أو [رقم الهاتف].</p>

    <p>نشكركم على ثقتكم بـ "منصتي"، ونعدكم بالتزامنا الدائم بحماية خصوصيتكم وتوفير تجربة تعلم آمنة وممتعة.</p>

</section>

{% endblock %}