{% extends 'web/dashboard/base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/web/setting.css') }}">

<div class="header-dashboard">
    <h1>الاعدادات</h1>
</div>
<section class="my-settings">
    <div class="account-photo">
        {% if user.profile_img %}
        <img src="{{ user.profile_img}}"> {% else %}
        <img src="{{ url_for('static',filename='img/user.png') }}" alt=""> {% endif %}
    </div>
    <div class="account-name">
        <h3>{{user.name}}</h3>
        <a href="settings-edit.html">
            <img src="{{ url_for('static',filename='img/icons/tabler_edit.svg') }}" alt="" class="icon">
        </a>
    </div>
    <div class="account-category">
        <h3>{{user.academic_section}} </h3>
        <a href="settings-edit.html">
            <img src="/asseds/icons/tabler_edit.svg" alt="" class="icon">
        </a>
    </div>
    <a class='edit'>تعديل معلومات الحساب</a>
    <button class="delete">حذف الحساب</button>
</section>



{% endblock %}